

<div class="container">
    <div class="row justify-content-md-center" style="padding-bottom: 2%;">
      <div class="col col-lg-2">
        <button type="button" class="btn btn-dark btn-circle btn-xl"><h1>1</h1></button>
      </div>
      <div class="col col-lg-2">
        <button type="button" class="btn btn-dark btn-circle btn-xl"><h1>2</h1></button>
      </div>
      <div class="col col-lg-2">
        <button type="button" class="btn btn-dark btn-circle btn-xl"><h1>3</h1></button>
      </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
          <button type="button" class="btn btn-dark btn-circle btn-xl"><h1>4</h1></button>
        </div>
        <div class="col col-lg-2">
          <button type="button" class="btn btn-dark btn-circle btn-xl"><h1>5</h1></button>
        </div>
        <div class="col col-lg-2">
          <button type="button" class="btn btn-dark btn-circle btn-xl"><h1>6</h1></button>
        </div>
      </div>
</div>
<hr />